html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #container {
  height: 100%;
}

body, button, a, h1, h2, h3, h4, h5, h6, p, ol, ul, hr {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 300;
  color: inherit;
  text-decoration: none
}

button:focus {
  outline: none
}