$theme-colors: (
  "primary":#1D4E89,
  "secondary": #153243,
  "light": #FDFBFB,
  "dark": #000000,
  "warning": rgba(247, 212, 136, 1),
  "danger": rgba(228, 87, 46, 1)
);

// .card-columns {
//   @include media-breakpoint-up(md) {
//     column-count: 3;
//   }
//   @include media-breakpoint-down(sm) {
//     column-count: 1;
//   }
// }

$body-bg: map-get($theme-colors, "light"); 

//by filling the page heigth felx utilities can be vertically centralized
html, body {
  height: 100%;
}

@import '~bootstrap/scss/bootstrap';
